<!--@subject {{var store.getFrontendName()}}: RMA # {{var request.getId()}} Information @-->

<body style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
    <div style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
        <table cellspacing="0" cellpadding="0" border="0" height="100%" width="100%">
            <tr>
                <td align="center" valign="top" style="padding:20px 0 20px 0">
                    <!-- [ header starts here] -->
                    <table bgcolor="#FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650" style="border:1px solid #E0E0E0;">
                        <tr>
                            <td valign="top"><a href="www.mageconsult.net"><img src="{{skin url="images/logo_email_magecon.png" _area='frontend'}}" alt="{{var store.getFrontendName()}}"  style="margin-bottom:10px;" border="0"/></a></td>
                        </tr>
                        <!-- [ middle starts here] -->
                        <tr>
                            <td valign="top">
                                <h1 style="font-size:22px; font-weight:normal; line-height:22px; margin:0 0 11px 0;">Dear RMA Responsible,</h1>
                                <p style="font-size:12px; line-height:16px; margin:0 0 10px 0;">
                                    Here is an information about RMA # {{var request.getId()}} <small>(created on {{var request.getRMACreationDate('long')}})</small> from Order # {{var request.getRMAOrderId()}} <small>(purchased on {{var request.getOrderCreationDate('long')}})</small>:
						The RMA request is from {{htmlescape var=$request.getCustomerName()}} with email address {{var request.getEmail()}}.
						The RMA is now with status <strong>{{var request.getRMAStatus()}}</strong>. <br />
						{{var request.getStatusEmailAdminMsg()}} <br />
						You can manage the RMA by logging in your admin account.
                                </p>

                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</body>