#divSimpleSliderRotate { position:absolute; bottom:10px; right:10px; z-index:99; }
#divSimpleSliderRotate a { margin: 0 0 0 4px; padding: 3px 7px;	background: #ffffff; text-decoration: none; color: #888888; font-family:Arial, Helvetica, sans-serif; font-size:12px; }
#divSimpleSliderRotate a:hover { background: #454545; text-decoration: none; color: #ffffff; }
#divSimpleSliderRotate a.activeSlide { background: #454545; text-decoration: none; color: #ffffff; }
#divSimpleSliderRotate a:focus { outline: none; }
.home_events_row { overflow: hidden; width: 100%; border-bottom:2px solid #dddddd; padding: 14px 0 9px 0; }
.home_events_row h4 { float: left; display:inline; font-size: 3.8em; color: #aaaaaa; margin-left: 12px; line-height: 1em; padding: 0; }
.home_events_content { float: right; display: inline; width: 84% }
.home_events_content h3 { font-size: 1.4em; }
.home_events_content p { margin: 1px 0 0 0; }
#divSimpleSlider { position: relative; width:470px; height:230px; overflow: hidden; }

.navigate .prev { background: url('images/next-prev-btn.png') no-repeat scroll 0 0 transparent; display: block; height: 22px; left: 10px; position: absolute; top: 110px; width: 24px; z-index: 999; cursor:pointer; }
.navigate .next { background: url('images/next-prev-btn.png') no-repeat scroll -24px 0 transparent; display: block; height: 22px; position: absolute; right: 10px; top: 110px; width: 26px; z-index: 999; cursor:pointer; }
.navigate .prev:hover { background: url('images/next-prev-btn.png') no-repeat scroll 0 -22px transparent; }
.navigate .next:hover { background: url('images/next-prev-btn.png') no-repeat scroll -24px -22px transparent; }
.navigate a { display:block; height:20px; }

.banner_content h3 { color:#C4DFEB; }
.banner-images { width:470px !important; height: 230px; position: relative; }
.banner-images img { position: absolute; top: 0px; left: 0px; display: block; z-index: 3; } 
.banner_content { color:#2F2F2F; position:absolute; left:0px; top:0px; padding:5px; font-size: 18px; text-align:left; display: block; z-index: 3; }
.banner_content a { color:#2FAECE; text-decoration:underline; font-weight:bold; }
.banner_content a:hover{ color:#2FAECE; text-decoration:underline; font-weight:bold;}

.control .no-display { display:none; }
.control .pause { background: url('images/pause.png') no-repeat 0px 0px; width:24px; height:22px; position:absolute; z-index:15; top:110px; left:220px; cursor:pointer; }
.control .pause:hover { background: url('images/pause.png') no-repeat bottom;}
.control .play { background: url('images/play.png') no-repeat 0px 0px;  width:24px; height:22px; position:absolute; z-index:10; top:110px; left:220px; cursor:pointer; }
.control .play:hover { background: url('images/play.png') no-repeat bottom; }